<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Alterkai.</title>
  <style>
    
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <div style="z-index: 3; position: absolute; width: 100%;">
      <div class="header container d-flex justify-content-between">
        <h4 style="color: white; font-family: 'bitter', 'serif';">Alterkai Scans.</h4>
        <div>
          <form action="/search" method="post">
            <input type="text" name="judul" id="" placeholder="Cari Manga" style="background-color: transparent;" class="form-control">
          </form>
        </div>
      </div>
    </div>


    <div class="" style=" background-color: #1D181D; width: 100%;">
      <div class="">
        <div class="swiper">

          <div class="swiper-wrapper">
            <% judul.forEach(judul => { %>
              <a href="/<%= judul.nama %>" class="swiper-slide blur-container d-flex align-items-center justify-content-center" style="background: url('<%= judul.thumbnail %>') center/cover no-repeat;">
                <div class="blur d-flex align-items-end" style="padding-bottom: 2rem;">
                  <div class="container d-flex flex-row align-items-end">
                    <img class="thumbnail" src="<%= judul.thumbnail %>" alt="">
                    <div class="text-container d-flex flex-column text-wrap">
                      <h1 class="judul"><%= judul.nama %></h1>
                      <% if(judul.genre){ %>
                        <div class="d-flex flex-row flex-wrap" style="padding-bottom: 10px;">
                          <% judul.genre.split(',').forEach(singleGenre => { %>
                            <div class="genre rounded">
                              <%= singleGenre.trim() %>
                            </div>
                          <% }) %>
                        </div>
                      <% } %> 
                      <p class="keterangan overflow-auto"><%= judul.keterangan %></p>
                    </div>
                  </div>
                </div>
              </a>
            <%  }); %>
          </div>
    
          <div class="swiper-pagination"></div>
    
        </div>
      </div>
      
    </div>

    <div style="height: 100vh;">
      <div class="container rounded latest">
        <h3 style="margin: 0;">Terbaru</h3>   
        <div class="d-flex overflow-auto" style=" width: 100%;">
          <% judulSemua.forEach(judul => { %>
            <div class="d-flex flex-column align-items-start" style="padding: 10px;">
                <a href="/<%= judul.nama %>">
                  <!-- Tampilkan thumbnail jika tersedia -->
                  <% if(judul.thumbnail) { %>
                      <img src="<%= judul.thumbnail %>" alt="Thumbnail" style="width: 150px;">
                  <% } %>
                </a>
                <p style="color: black; width: 150px; line-height: 110%; padding-top: 1rem;" class="text-wrap"><%= judul.nama %></p>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="container rounded" style="background-color: #e9ecef;">
        
      </div>
    </div>


    
  
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper', {
          direction: 'horizontal',
          loop: true,
          pagination: {
            el: '.swiper-pagination',
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          scrollbar: {
            el: '.swiper-scrollbar',
          },
          autoplay: {
            delay: 5000, 
            disableOnInteraction: false,
          },
        });
      });
    </script>
    
    
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
